@import "root.css";

.text-marker { font-family: 'Permanent Marker', cursive; font-weight: 400; }
.text-rock_salt { font-family: 'Rock Salt', cursive; font-weight: 400; }
.text-brand {color:var(--brand-clr)}

.bg-brand {background-color:var(--brand-clr)}
.bg-banner {
	background: url('{{site.cdn}}{{page.background}}') center center no-repeat scroll;
	background-size: cover;
	height:40vh;
	color:#eee;
	text-align: center;
	text-shadow: .25em .25em 2em rgba(0, 0, 0, 0.8);
}
.bg-pattern { background-image: url('{{site.cdn}}/img/bg.png'); }

#navbar-toggle-cbox {
	display:none;
}
#navbar-toggle-cbox:checked ~ .collapse {
	display: block;
}