---
layout: default

title: "Fun"
subtitle: "game on"
lead:

background: /img/FrontNight_drk.jpg
---

<div class="container my-5 py-5">
  <div class="row">
    <div class="col-lg-7 col-md-5 text-center">
        <div>
          <h2 class="text-brand-base">Poker.</h2>
          <p>Poker comp are held every Tuesday and Sunday evenings.</p>
        </div>
        <div>
          <h2 class="text-brand-base">Trivia.</h2>
          <p>We love trivia! Our trivia challenge is held every Tuesday and Thursday evenings from 6:15pm.</p>
        </div>
        <div>
          <h2 class="text-brand-base">Live Music.</h2>
          <p>Live music performs most Friday and Saturday nights.<br>Check <a href="https://www.facebook.com/HenryRousTavern/">Facebook</a> for details.</p>
        </div>
    </div>
    <div id="fcbk_events" class="col-lg-5 col-md-7 text-center">
      {% include fcbk_scrpt.html %}
      {% include fcbk_events.html %}
    </div>
  </div>
</div>
