---
layout: default
published: true
id: whats-on

title: "Play"
subtitle: "game on"
lead:

background: /img/FrontNight_drk.jpg
---

<div class="container">
  <div class="row featurette">
    <div class="col-lg-7 col-md-5">
      <div class="row">
        <div id="raffles" class="col-lg-6 text-center">
          <h2>Raffles.</h2>
          <p>Sports Club Raffles are held every Thursday and Friday evening with the best meat and veg trays available to win.</p>
        </div>
        <div id="Trivia" class="col-lg-6 text-center">
          <h2>Trivia.</h2>
          <p>We love trivia! Our trivia challenge is held every Tuesday and Thursday evenings from 7pm.</p>
        </div>
        <div id="stay" class="col-lg-12 text-center">
          <h2>Live Music.</h2>
          <p>Live music performs most Friday and Saturday nights.<br>Check <a href="https://www.facebook.com/HenryRousTavern/">Facebook</a> for details.</p>
        </div>
      </div>
    </div>
    <div id="fcbk_events" class="col-lg-5 col-md-7 text-center">
      {% include fcbk_scrpt.html %}
      {% include fcbk_events.html %}
    </div>
  </div>
</div> <!-- End of content -->
